<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Amazing Grace</title>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet'
  type='text/css'>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
  <!-- Bootstrap Material CSS -->
  <link rel="stylesheet" href="./css/material.css">
  <link rel="stylesheet" href="./css/ripples.css">
  <link rel="stylesheet" href="./css/roboto.css">
  <link rel="stylesheet" href="./css/video.css">
</head>

<body>
  <!-- NAVBAR START-->
  <div class="navbar navbar-material-light-blue">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Amazing Grace</a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Lessons</a></li>
        <li><a href="javascript:void(0)">Resources</a></li>
        <li><a href="javascript:void(0)">Forum</a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-material-pink">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">What is a Raspberry Pi?</h3>
    </div>
    <div class="panel-body">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uXUjwk2-qx4"
      frameborder="0" allowfullscreen></iframe>
      <hr>
      <p>The <strong>Raspberry Pi</strong> is a low cost, credit-card sized <strong>computer</strong>        that plugs into a computer monitor or TV, and uses a standard keyboard and
        mouse.
        <p>It’s capable of doing everything you’d expect a desktop computer to do, from
          browsing the internet and playing high-definition video, to making spreadsheets,
          word-processing, and playing games.
          <p>The Raspberry Pi has the ability to interact with the outside world, and
            has been used in a wide array of projects, from music machines and parent
            detectors to weather stations and tweeting birdhouses with infra-red
            cameras.
            <br>
            <hr>
            <a href="javascript:void(0)" class="btn btn-info back">Back</a>
            <a href="javascript:void(0)" class="btn btn-success next">Next</a>
    </div>
  </div>
  <!-- NAVBAR END-->
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
  integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
  crossorigin="anonymous"></script>
  <script src="./js/material.min.js"></script>
  <script src="./js/ripples.min.js"></script>
</body>

</html>
