  <div class="panel panel-material-pink checklist">
    <div class="panel-heading checklist">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">Materials Needed<br>for<br>Raspberry Pi Setup</h3>
    </div>
    <div class="panel-body checklist">
        <p>
          <input id="question1" name="question1" type="checkbox" value="1">
          <label>SD Card</label>
          <p>We recommend an 8GB class 4 SD card – ideally <a href="http://swag.raspberrypi.org/collections/frontpage/products/noobs-8gb-sd-card"
            target="_blank">preinstalled</a> with NOOBS. You can buy a card with
            NOOBS pre-installed, or you can download it for free from our <a href="https://www.raspberrypi.org/downloads/"
            target="_blank">downloads</a> page.</p>
        </p>
        <p>
          <input id="question2" name="question2" type="checkbox" value="1">
          <label><strong>Display and connectivity cables</strong></label>
          <p>Any HDMI/DVI monitor or TV should work as a display for the Pi . For best
            results, use one with HDMI input, but other connections are available
            for older devices. Use a standard Ethernet cable for internet access.</p>
        </p>
        <p>
          <input id="question3" name="question3" type="checkbox" value="1">
          <label> <strong>Keyboard and mouse</strong></label>
          <p>Any standard USB keyboard and mouse will work with your Raspberry Pi.</p>
        </p>
        <p>
          <input id="question4" name="question4" type="checkbox" value="1">
          <label> <strong>Power Supply</strong></label>
          <p>Use a 5V micro USB power supply to power your Raspberry Pi. Be careful
            that whatever power supply you use outputs at least 5V; insufficient
            power will cause your Pi to behave in strange ways.</p>
        </p>
        <hr />
        <a href="javascript:void(0)" class="btn btn-info back">Back</a>
        <a href="btn btn-success javascript:void(0)" class="next checklist"><input class="btn btn-success next_button checklist" name="commit" type="submit" value="Next" disabled=""></a>
      </form>
    </div>
  </div>
