    <!-- <div id="particles-js"></div> -->
    <div style="padding: 45px 50px;" id='quiz-container'>
      <script>
      $('#quiz-container').jquizzy({
        questions: init.questions,
        resultComments: init.resultComments,
        twitterStatus: 'Woo! I got {score} on the quiz.'
      });
      </script>
    </div>


