
  <div class="panel panel-material-pink video">
    <div class="panel-heading video">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">What is a Raspberry Pi?</h3>
    </div>
    <div class="panel-body video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uXUjwk2-qx4"
      frameborder="0" allowfullscreen></iframe>
      <hr>
      <p>The <strong>Raspberry Pi</strong> is a low cost, credit-card sized <strong>computer</strong> that plugs into a computer monitor or TV, and uses a standard keyboard and
        mouse.
      <p>It’s capable of doing everything you’d expect a desktop computer to do, from
        browsing the internet and playing high-definition video, to making spreadsheets,
        word-processing, and playing games.</p>
      <p>The Raspberry Pi has the ability to interact with the outside world, and
        has been used in a wide array of projects, from music machines and parent
        detectors to weather stations and tweeting birdhouses with infra-red
        cameras.</p>
      <br>
      <hr>
      <a href="javascript:void(0)" class="btn btn-info back video">Back</a>
      <a href="javascript:void(0)" class="btn btn-success next video">Next</a>
    </div>
  </div>
