  <div class="panel panel-material-pink video">
    <div class="panel-heading video">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">Raspberry Pi <br> Beginner Setup Tutorial</h3>
    </div>
    <div class="panel-body video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jr6IVLZmp28"
      frameborder="0" allowfullscreen></iframe>
      <hr>
      <p>Carrie Anne, maker of <strong>Geek Gurl Diaries</strong>, will show you how
        to set up and your first Raspberry Pi.
      <p class="text-info">About Geek Gurl Diaries
      <p>I am Carrie Anne. I am a geek, and these are my diaries. They are a collection of video logs
        about using and making technology, along side interviews with inspirational
        women in the fields of computing, science, technology and engineering.</p>
      <p>Check out more Geek Gurl Diaries <a href="https://www.youtube.com/channel/UCxrp2coE9wRrnlOO3V3UmdQ" target="_blank">here</a></p>
      <br>
      <hr>
      <a href="javascript:void(0)" class="btn btn-info back video">Back</a>
      <a href="javascript:void(0)" class="btn btn-success next video">Next</a>
    </div>
  </div>
